# MANIFEST.in
exclude *
include README.md
include LICENSE.txt
prune *
recursive-exclude *.egg-info *
# exclude log files and pyc or pyo files
global-exclude *.log
global-exclude *.py[co]
# recursive-include tests *
